// Body
$body-bg: #f8fafc;
//@import url(https://fonts.cdnfonts.com/css/dubai?styles=20572);


// Typography

$font-size-base: 0.9rem;
$line-height-base: 1.6;
$fa-font-path: "/fonts/vendor/font-awesome" !default;
//$font-family-tahoma: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                                

//color
$main-color : #efa61b ;

$primary: #efa61b;

$info:#42B7E2;

$tertiary:#D4B370;

$main-color-30 : #efa61b14 ;

$gray:#20211F;

$gray80:#4F4F4F;

$grayLight : #F6F6F6;